server {
    listen 80;
    listen [::]:80;
    server_name {{ host_name }} www.{{ host_name }};

    location / {
        proxy_pass http://unix:{{ workdir }}/{{ project_name}}.sock;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ host_name }} www.{{ host_name }};
    ssl on;
    ssl_certificate     {{ crt_dir }}/{{ host_name }}.crt;
    ssl_certificate_key {{ crt_dir }}/{{ host_name }}.pem;


    location / {
        proxy_pass http://unix:{{ workdir }}/{{ project_name}}.sock;
    }
}
